.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2E8B57;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FF8C00;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #FF8C00;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#2E8B57;
    color: #FF8C00;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: #444;
}
  
#home {
    transition: margin-left .5s;
    padding: 16px;
    height:100vh;
    background-color: transparent;
    color:#2e8857;
    
}
  

#nutrition{
    width:100%;
    display:grid;
    
    grid-auto-flow: dense;
    grid-template:  "1fr 1fr 1fr 1fr 1fr 1fr" 10vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh 
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh 
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh 
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh 
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 10vh ;
    

}

#nutrition a{
    color:black;
    
}
#nutrition .box{
    position:relative;
    border:2px outset black;
    text-align: center;
    justify-content: end;
}
/* 1 */
#nutrition .box.amino{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    color:	steelblue;
    grid-row: span 2;
}
.amino1 img{
    border:5px outset #330867;
}

#aminoCont{
    width:100%;
    display:grid;
    
    grid-auto-flow: dense;
    grid-template:  "1fr 1fr 1fr 1fr 1fr 1fr" 20vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 20vh 
                    "1fr 1fr 1fr 1fr 1fr 1fr" 20vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 20vh 
                    "1fr 1fr 1fr 1fr 1fr 1fr" 20vh
                    ;
    

}
.aminoText{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Concert One', cursive;
}
#aminoCont .box.amino1{
    grid-row: span 5;
    grid-column: span 3;
}
#aminoCont .box.amino2{
    grid-column: span 3;
    grid-row: span 2;
   
}
#aminoCont .box.amino3{
    grid-column: span 3;
    grid-row: span 3;
}
/* 2 */
#nutrition .box.biotin{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}



.biotinText{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Combo', cursive;
}

.biotin1{
    position: absolute;
    top: 18vh;
    left: 35vw;
    
}
.biotin2{
    position: absolute;
    top:38vh;
    left: 35vw;
    width:30vw;
}
/* 3 */
#nutrition .box.calcium{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.calciumText{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px #FF0000;
    font-family: 'Special Elite', cursive;
    
}
  

#calciumCont img{
    border-radius: 1px;
    width:100%;
    height: auto;
}
.calcium1{
    position: absolute;
    top: 18vh;
    left: 35vw;
}
.calcium2{
    position: absolute;
    top:38vh;
    left: 35vw;
    width:30vw;
}
/* 4 */
#nutrition .box.choline{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    grid-row: span 2;
}

#cholineCont{
    width:100%;
    display:grid;
    grid-auto-flow: dense;
    grid-template:  "1fr 1fr" 30vh
                    "1fr 1fr" 30vh 
                    ;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}


#cholineCont .box.choline2{
    grid-column: span 2;
    
}
.choline3 img{
    padding-top: 1vh;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.cholineText{
    color:#6B8E23;
    font-family: 'Poiret One', cursive;
}
/* 5 */
#nutrition .box.chromium{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.chromiumText{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
    font-family: 'Lalezar', cursive;
}


#chromiumCont img{
    width: 100%;
    height: auto;
}

.chromium1{
    position:absolute;
    top:43vh;
    left:16vw;
    color:white;
    
}

.chromium2{
    position:absolute;
    top:53vh;
    left:16vw;
    color:white;
    
}
/* 6 */
#nutrition .box.copper{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
#copperCont{
    width:100%;
    display:grid;
    grid-auto-flow: dense;
    grid-template:  "1fr 1fr" 50vh
                    "1fr 1fr" 50vh 
                    
                    ;
}
.copper3 img {
    width: 75%;
    height: auto;
   
}
#copperCont .box.copper1{
    grid-row: span 1;
    
}
.copper1,
.copper2{
    color:#975053
}
#copperCont .box.copper3{
    grid-row: span 1;
    
}
#copperCont .box.copper2{
    grid-row: span 1;
}
.copperText{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 7 */
#nutrition .box.fiber{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    grid-row: span 2;
}
.fiberText{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    -webkit-background-clip: border-box;
    color:#6588F6;
    font-family: 'Baloo Thambi 2', cursive;
}
.fiber1{
    position: absolute;
    top:18vh;
    left:12vw;
}
.fiber2{
    position: absolute;
    top:50vh;
    left:12vw;
}
#fiberCont img{
    width:100%;
    border: 2px solid #f6d365;
    border-radius: 2%;
}
/* 8 */
#nutrition .box.flavonoids{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    
}
.flavonoidsText{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style:inherit;
    font-family: 'Combo', cursive;
}

#flavonoidsCont img{
    display: block;
    margin-left: auto;
    width: 30%;
}
.flavonoids1{
    position: absolute;
    top:15vh;
    color:#ad729d;
    font-family: 'Combo', cursive;
}
.flavonoids2{
    position: absolute;
    top:38vh;
    width:auto;
    height:auto;
    color:#295397;
    font-family: 'Combo', cursive;
}
.flavonoids1 li{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
} 
.flavonoids2 li{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;
} 
/* 9 */
#nutrition .box.folate{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    
}

#folateCont img{
    width:100%;

}

.folate1{
    position:absolute;
    top:18vh;
    left:15vw;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    -webkit-background-clip: border-box;
    font-family: 'Baloo 2', cursive;
}

.folate2{
    position: absolute;
    top:58vh;
    width:70vw;
    left:15vw;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    -webkit-background-clip: border-box;
    font-family: 'Baloo 2', cursive;
}

.folateText{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    -webkit-background-clip: border-box;
    color:#718f78;
    font-family: 'Baloo 2', cursive;
}
.folate1 li{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
} 
.folate2 li{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;
} 
/* 10 */
#nutrition .box.iodine{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    grid-row: span 2;
}
#iodineCont img{
    width:50%;
    height:50%
}

.iodineText{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    -webkit-background-clip: border-box;
    color:#BC8F8F;
    font-family: 'Yeseva One', cursive;
}

.iodine2{
    position: absolute;
    top:35vh;
    left:53vw;
    color:#1E90FF;
    font-family: 'Yeseva One', cursive;
}

.iodine1{
    position: absolute;
    top:20vh;
    left:53vw;
    color:#1E90FF;
    font-family: 'Yeseva One', cursive;
    
}
/* 11 */
#nutrition .box.iron{
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    grid-row : span 2;
}

.ironText{
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.img-iron
{
        opacity: 0;
        position: absolute;
        width: 40vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
        border-radius: 50%;
}
.iron1 h2,
.iron2 h2{
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}
.iron1{
    position: absolute;
    top:15vh;
    left:12vw;
    color:#6297DB;
    
}

.iron2{
    position: absolute;
    top:40vh;
    left:12vw;
    width:35vw;
    color:#6297DB;
}
.iron1 li{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
} 
.iron2 li{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;
}


/* 12 */
#nutrition .box.lutein{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    grid-column: span 2;
}
#luteinCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#f9d423;
    font-family: 'Sniglet', cursive;
    
}
.luteinText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.luteinText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.luteinText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #e14fad;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}
.lutein1 h2,
.lutein2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}
.lutein1 h2:before,
.lutein2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #e14fad;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.lutein1 h2:before{
    animation-delay: 3s;
}
.lutein h2:before{
    animation-delay: 4s;
}
.lutein1{
    position: absolute;
    top:10vh;
    left:15vw;
    width:35vw;
}
.lutein2{
    position: absolute;
    top:40vh;
    left:15vw;
    width:35vw;
    
}
.lutein1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.lutein2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-lutein{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:30%;
    height: 50%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #f9d423;
}
/* 13 */
#nutrition .box.magnesium{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    grid-column: span 2;
}
#magnesiumCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#e14fad;
    font-family: 'Unkempt', cursive;
    
}
.magnesiumText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.magnesiumText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.magnesiumText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #f9d423;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}
.magnesium1 h2,
.magnesium2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.magnesium1 h2:before,
.magnesium2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #f9d423;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.magnesium1 h2:before{
    animation-delay: 3s;
}
.magnesium2 h2:before{
    animation-delay: 4s;
}
.magnesium1{
    position: absolute;
    top:10vh;
    left:15vw;
    width:35vw;
}
.magnesium2{
    position: absolute;
    top:40vh;
    left:15vw;
    width:35vw;
    
}
.magnesium1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.magnesium2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-magnesium{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:40%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #e14fad;
}
/* 14 */
#nutrition .box.manganese{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    grid-row: span 2;
}
#manganeseCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#a6c0fe;
    font-family: 'Unkempt', cursive;
}
.manganeseText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.manganeseText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.manganeseText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #f68084;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}
.manganese1 h2,
.manganese2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.manganese1 h2:before,
.manganese2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #f68084;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.manganese1 h2:before{
    animation-delay: 3s;
}
.manganese2 h2:before{
    animation-delay: 4s;
}
.manganese1{
    position: absolute;
    top:10vh;
    left:15vw;
    width:35vw;
}
.manganese2{
    position: absolute;
    top:27vh;
    left:15vw;
    width:38vw;
    
}
.manganese1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.manganese2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-manganese{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:40%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #a6c0fe;
}
/* 15 */
#nutrition .box.molybdenum{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    
}
#molybdenumCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#d57eeb;
    font-family: 'Mirza', cursive;
    font-weight: 900;
}
.molybdenumText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.molybdenumText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.molybdenumText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #fccb90;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}
.molybdenum1 h2,
.molybdenum2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.molybdenum1 h2:before,
.molybdenum2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #fccb90;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.molybdenum1 h2:before{
    animation-delay: 3s;
}
.molybdenum2 h2:before{
    animation-delay: 4s;
}
.molybdenum1{
    position: absolute;
    top:10vh;
    left:15vw;
    width:35vw;
}
.molybdenum2{
    position: absolute;
    top:40vh;
    left:15vw;
    width:35vw;
    
}
.molybdenum1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.molybdenum2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-molybdenum{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:40%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #d57eeb;
}
/* 16 */
#nutrition .box.omega{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    grid-row: span 2;
}
#omegaCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#8ec5fc;
    font-family: 'Pompiere', cursive;
    font-weight: 900;
}
.omegaText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.omegaText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.omegaText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #8ec5fc;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.omega1 h2,
.omega2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.omega1 h2:before,
.omega2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #8ec5fc;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.omega1 h2:before{
    animation-delay: 3s;
}
.omega2 h2:before{
    animation-delay: 4s;
}
.omega1{
    position: absolute;
    top:10vh;
    left:15vw;
    font-size: 25px;
}
.omega2{
    position: absolute;
    top:40vh;
    left:15vw;
    width:35vw;
    font-size: 23px;
    
}
.omega1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.omega2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-omega{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:40%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #e0c3fc;
}
/* 17 */
#nutrition .box.pantothenic{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
#pantothenicCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#f093fb;
    font-family: 'Stardos Stencil', cursive;
}
.pantothenicText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.pantothenicText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pantothenicText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #f5576c;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.pantothenic1 h2,
.pantothenic2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pantothenic1 h2:before,
.pantothenic2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #f5576c;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.pantothenic1 h2:before{
    animation-delay: 3s;
}
.pantothenic2 h2:before{
    animation-delay: 4s;
}
.pantothenic1{
    position: absolute;
    top:10vh;
    left:15vw;
}
.pantothenic2{
    position: absolute;
    top:30vh;
    left:15vw;
    width:35vw;
}
.pantothenic1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.pantothenic2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-pantothenic{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:40%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #f093fb;
}
/* 18 */
#nutrition .box.phosphorus{
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    grid-row: span 2;
}
#phosphorusCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#e2c58b;
    font-family: 'Stardos Stencil', cursive;
}

.phosphorusText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.phosphorusText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phosphorusText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #b8cbb8;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.phosphorus1 h2,
.phosphorus2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.phosphorus1 h2:before,
.phosphorus2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #b8cbb8;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.phosphorus1 h2:before{
    animation-delay: 3s;
}
.phosphorus2 h2:before{
    animation-delay: 4s;
}
.phosphorus1{
    position: absolute;
    top:10vh;
    left:15vw;
}
.phosphorus2{
    position: absolute;
    top:30vh;
    left:15vw;
    width:35vw;
}
.phosphorus1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.phosphorus2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-phosphorus{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:25%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #e2c58b;
}
/* 19 */
#nutrition .box.potassium{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
#potassiumCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#139fa7;
    font-family: 'Averia Serif Libre', cursive;
}

.potassiumText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.potassiumText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.potassiumText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #4facfe;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.potassium1 h2,
.potassium2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.potassium1 h2:before,
.potassium2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #4facfe;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.potassium1 h2:before{
    animation-delay: 3s;
}
.potassium2 h2:before{
    animation-delay: 4s;
}
.potassium1{
    position: absolute;
    top:10vh;
    left:15vw;
}
.potassium2{
    position: absolute;
    top:25vh;
    left:15vw;
    width:35vw;
}
.potassium1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.potassium2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.img-potassium{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:25%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #4facfe;
}
/* 20 */
#nutrition .box.protein{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
#proteinCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#188a3e;
    font-family: 'Oxanium', cursive;
}

.proteinText{
    position: absolute;
    top:5vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
}
.proteinText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proteinText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #38f9d7;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.protein1 h2,
.protein2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.protein1 h2:before,
.protein2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #38f9d7;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.protein1 h2:before{
    animation-delay: 3s;
}
.protein2 h2:before{
    animation-delay: 4s;
}
.protein1{
    position: absolute;
    top:10vh;
    left:15vw;
}
.protein2{
    position: absolute;
    top:33vh;
    left:15vw;
    width:40vw;
}
.protein1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.protein2 ul{
    opacity:0;
    display: inline-block;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 5.5s;
    
    
}
.img-protein{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:30%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #43e97b;
}
/* 21 */
#nutrition .box.selenium{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    grid-row: span 2;
}
#seleniumCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#fa709a;
    font-family: 'Overlock', cursive;
}

.seleniumText{
    position: absolute;
    top:7vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
    
    
}
.seleniumText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.seleniumText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #fee140;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.selenium1 h2,
.selenium2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.selenium1 h2:before,
.selenium2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #fee140;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.selenium1 h2:before{
    animation-delay: 3s;
}
.selenium2 h2:before{
    animation-delay: 4s;
}
.selenium1{
    position: absolute;
    top:17vh;
    left:15vw;
}
.selenium2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:35vw;
}
.selenium1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.selenium2 ul{
    opacity:0;
    display: inline-block;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 5.5s;
    
    
}
.img-selenium{
    opacity:0;
    position:absolute;
    left:55vw;
    top:35vh;
    width:30%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border: 2px solid #fa709a;
}
/* 22 */
#nutrition .box.a{
    background-image: linear-gradient(to top,#330867 0%,#30cfd0 100% );
    grid-row: span 2;
}
#aCon{
    font-family: 'Bellota Text', cursive;

}
.aText{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    
}
.a1 h2,
.a2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.a1 h2:before,
.a2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #30cfd0;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.a1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#1e8181;
    
}
.a2{
    position: absolute;
    top:40vh;
    left:15vw;
    width:35vw;
    color:#1e8181;
    
}

.a1 h2:before{
    animation-delay: 2s;
} 
.a2 h2:before{
    animation-delay: 3s;
}

.a1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;
    

}
.a2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-a
{
        opacity: 0;
        position: absolute;
        width: 40vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
        border-radius: 50%;
}
/* 23 */
#nutrition .box.b1{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    grid-column: span 2;
}
.b1Text{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(to top, #a8edea 100%, #fed6e3 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster Two', cursive;
    
}
.b1-1 h2,
.b1-2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #a8edea 100%, #fed6e3 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster Two', cursive;

}

.b1-1 h2:before,
.b1-2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #a8edea;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.b1-1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#38615f;
    
}
.b1-2{
    position: absolute;
    top:35vh;
    left:15vw;
    width:35vw;
    color:#38615f;
    
}

.b1-1 h2:before{
    animation-delay: 2s;
} 
.b1-2 h2:before{
    animation-delay: 3s;
}

.b1-1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;
    

}
.b1-2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-b1
{
        opacity: 0;
        position: absolute;
        width: 40vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
        border-radius: 50%;
}
/* 24 */
#nutrition .box.b2{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.b2Text{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Comfortaa', cursive;
    
}

.b2-1 h2,
.b2-2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Comfortaa', cursive;

}

.b2-1 h2:before,
.b2-2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #5ee7df;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.b2-1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#8558a1;
}
.b2-2{
    position: absolute;
    top:35vh;
    left:15vw;
    width:35vw;
    color:#8558a1;
}

.b2-1 h2:before{
    animation-delay: 2s;
} 
.b2-2 h2:before{
    animation-delay: 3s;
}

.b2-1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;

}
.b2-2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-b2
{
        opacity: 0;
        position: absolute;
        width: 40vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
        border-radius: 50%;
}
/* 25 */
#nutrition .box.b12{
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    grid-row: span 2;
}

.b12Text{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Abril Fatface', cursive;
    
}

.b12-1 h2,
.b12-2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Abril Fatface', cursive;

}

.b12-1 h2:before,
.b12-2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #FF057C;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.b12-1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#8D0B93;
}
.b12-2{
    position: absolute;
    top:46vh;
    left:15vw;
    width:35vw;
    color:#8D0B93;
}

.b12-1 h2:before{
    animation-delay: 2s;
} 
.b12-2 h2:before{
    animation-delay: 3s;
}
.b12-1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;

}
.b12-2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-b12
{
        opacity: 0;
        position: absolute;
        width: 30vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
}
/* 26 */
#nutrition .box.b3{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    grid-row: span 2;
}



.b3Text{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.b3-1 h2,
.b3-2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.b3-1 h2:before,
.b3-2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #fbed96;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.b3-1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#90b0a5;
}
.b3-2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:35vw;
    color:#90b0a5;
}

.b3-1 h2:before{
    animation-delay: 2s;
} 
.b3-2 h2:before{
    animation-delay: 3s;
}
.b3-1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;

}
.b3-2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-b3
{
        opacity: 0;
        position: absolute;
        width: 30vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
}
/* 27 */
#nutrition .box.b6{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    
}

.b6Text{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.b6-1 h2,
.b6-2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.b6-1 h2:before,
.b6-2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #30c7ec;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
}
.b6-1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#d2691e;
}
.b6-2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:35vw;
    color:#d2691e;
}

.b6-1 h2:before{
    animation-delay: 2s;
} 
.b6-2 h2:before{
    animation-delay: 3s;
}
.b6-1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;

}
.b6-2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-b6
{
        opacity: 0;
        position: absolute;
        width: 30vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
}
/* 28 */
#nutrition .box.c{
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    grid-row: span 2;
}

.cText{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.c1 h2,
.c2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.c1 h2:before,
.c2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #2580B3;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    
    
}
.c1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#c5a1c7;
}
.c2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:35vw;
    color:#c5a1c7;
}

.c1 h2:before{
    animation-delay: 2s;
} 
.c2 h2:before{
    animation-delay: 3s;
}
.c1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;

}
.c2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-c
{
        opacity: 0;
        position: absolute;
        width: 30vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
}
/* 29 */
#nutrition .box.d{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

.dText{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#dCont img{
    width:85%;
}
.d1{
    position: absolute;
    top:16vh;
    left:15vw;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.d2{
    position: absolute;
    top:36vh;
    left:15vw;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 30 */
#nutrition .box.e{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

#eCon{
    position: absolute;
    width:100%;
    height:100%;
    background: #fff;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#66a6ff;
}

.eText{
    position: absolute;
    top:10vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
    color:#89f7fe;
    background-color: #66a6ff;
    
}

.eText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    

}

.eText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #66a6ff;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}

.e1 h2,
.e2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    color:#89f7fe;
    background-color: #66a6ff;

}

.e1 h2:before,
.e2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #66a6ff;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    
    
}
.e1 h2:before{
    animation-delay: 3s;
}
.e2 h2:before{
    animation-delay: 4s;
}
.e1{
    position: absolute;
    top:17vh;
    left:15vw;
}
.e2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:35vw;
}
.e1 li
{
    opacity:0;
    animation: fadeInBottom 1s linear forwards;
    animation-delay: 5s;

}
.e2 li
{   
    opacity:0;
    animation: fadeInTop 1s linear forwards;
    animation-delay: 6s;

}
.img-e
{
    opacity:0;
    position:absolute;
    width:35vw;
    left:55vw;
    top:35vh;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 7s;
    border:outset 2px #66a6ff;
}
/* 31 */
#nutrition .box.k{
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

#kCon{
    position: absolute;
    width:100%;
    height:100%;
    display:grid;
    justify-content: start;
    align-items: flex-start;
    color:#FF719A;
    font-family: 'Special Elite', cursive;
}

.kText{
    position: absolute;
    top:10vh;
    left:15vw;
    transform:translateY(-50%) ;
    max-width: 700px;
    
    
}

.kText h1{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kText h1:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #FFE29F;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}


.k1 h2,
.k2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.k1 h2:before,
.k2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #FFE29F;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    
    
}
.k1 h2:before{
    animation-delay: 3s;
}
.k2 h2:before{
    animation-delay: 4s;
}
.k1{
    position: absolute;
    top:17vh;
    left:15vw;
}
.k2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:45vw;
}
.k1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;

}
.k2 ul{
    opacity:0;
    display: inline-block;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 5.5s;
    
}

.kale{
    opacity:0;
    position:absolute;
    right:10vw;
    top:35vh;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    border:outset 2px #d1fdff;
}
/* 32 */
#nutrition .box.zinc{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}


.zincText{
    position: absolute;
    top:10vh;
    left:15vw;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.zinc1 h2,
.zinc2 h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline;
    transform-origin: left;
    transform:scaleX(0);
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.zinc1 h2:before,
.zinc2 h2:before{
    content:' ';
    position: absolute;
    top:0;
    left:0;
    background: #b1f4cf;
    width:100%;
    height: 100%;
    transform-origin: right;
    animation:revealText 1s ease-in-out forwards;
    
    
}
.zinc1{
    position: absolute;
    top:17vh;
    left:15vw;
    color:#9890e3;
}
.zinc2{
    position: absolute;
    top:37vh;
    left:15vw;
    width:35vw;
    color:#9890e3;
}

.zinc1 h2:before{
    animation-delay: 2s;
}
.zinc2 h2:before{
    animation-delay: 3s;
}
.zinc1 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;

}
.zinc2 li
{
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    
}
.img-zinc
{
        opacity: 0;
        position: absolute;
        width: 30vw;
        left: 55vw;
        top: 50vh;
        transform: translateY(-50%);
        animation: fadeIn 1s linear forwards;
        animation-delay: 5s;
}